@model MvcStory.Models.Story

@{
    ViewBag.Title = "Create";
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/rateit.css" rel="stylesheet" />
<h2 style="position: relative">Create new story :)</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">       
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">                               
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>      

        <div class="form-group">
            @Html.LabelFor(model => model.Text, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReleaseDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.EditorFor(model => model.ReleaseDate)
                @Html.ValidationMessageFor(model => model.ReleaseDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*hidden*@
                @Html.EditorFor(model => model.Rating)
                @Html.ValidationMessageFor(model => model.Rating)
                <input type="range" value="3" step="1" id="backing4" class="shit">
                <div class="rateit" data-rateit-backingfld="#backing4" data-rateit-readonly="true" data-rateit-resetable="false" data-rateit-ispreset="true"
                     data-rateit-min="0" data-rateit-max="6">
                </div>
            </div>
            
        </div>

        
                @*@for (int i = 0; i <= 5; i++)
                {
                    if (i<3)
                    {
                          <div class="btn bookRaiting glyphicon glyphicon-star"></div>  
                    }
                    else
                    {
                          <div class="btn bookRaiting glyphicon glyphicon-star-empty"></div>  
                            
                    }
                }*@
            
       

        <div class="form-group">
            @Html.LabelFor(model => model.Photo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Photo)
                @Html.ValidationMessageFor(model => model.Photo)
            </div>
            <br />            
        </div> 
         
       @*//forma za upload na file*@

        @*@using (Html.BeginForm("Create", "Story", null, FormMethod.Post,
                new { enctype = "multipart/form-data" }))
        {                     
                <div class="form-group">
                    @Html.LabelFor(model => model.Photo, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input id="Photo" title="Upload a product image" type="file" name="file" />                      
                    </div>
                    <br />
                </div>               
        }*@
            
        <div class="col-xs-6 col-md-5">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Image/hire_asp_net_developer.png" style="position: relative" />                    
                </a>
            </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        
        <script>
            $(document).ready(function() {

                var $starButtons = $(".bookRaiting");
                $("#Likes").val(3);
                $starButtons.on("click", function(evt) {
                    var found = false;
                    $starButtons.each(function(elId, el) {
                        if (!found) {
                            $(el).removeClass("glyphicon-star-empty");
                            $(el).addClass("glyphicon-star");
                        } else {
                            $(el).removeClass("glyphicon-star");
                            $(el).addClass("glyphicon-star-empty");
                        }
                        if (evt.currentTarget == el) {
                            $("#Likes").val(elId + 1);
                            found = true;
                        }
                    });
                });
            });
            $(".shit").hide();
            $('h2').animate({
                left: '350px',
                opacity: '0.5'
            }, 'slow', function () {
                $('h2').animate({
                    right: '350px',
                    opacity: '1',
                    color: 'red'
                }, 'slow');
            });

        </script>
    </div>
}

<div>
    <button class="btn btn-success">@Html.ActionLink("Back to List", "Index")</button>  
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
