
@model PagedList.IPagedList<MvcStory.Models.Story>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Stories";
}


<p></p>
<div class="row">

    @using (Html.BeginForm("Index", "Story", FormMethod.Get))
    {
        @*<p>Title: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
            </p>*@
        @*<div class="row">*@
            <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Go!</button>
                    </span>
                    <input type="text" name="SearchString" class="form-control" placeholder="Search for...">
                </div>
            </div>
        @*</div>*@
    }


    <span class="label label-success">Sort by:</span>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">@Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</button>

        @*Sort by date:@Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            sort by title: @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })*@
    </div>
</div>
<br />

@if (Model.Count() == 0)
{
    <div class="alert alert-info" role="alert">No story match...</div>
}
else
{
    foreach (var item in Model)
    {      
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.DisplayFor(modelItem => item.Title)</h3>
            </div>
            <div class="panel-body">
                @*<div class="row">*@
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                        
                        @*<img src="@Url.Content(@Model.Photo)" alt="Img" />*@
                        <img src="~/Content/Image/hire_asp_net_developer.png" alt="img"/>

                    </a>
                </div>
                @*</div>*@
                <p></p>
                <p></p>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <p></p>
                        <p></p>
                        @Html.DisplayFor(modelItem => item.Rating) <br />
                        <p></p>
                        @Html.DisplayFor(modelItem => item.ReleaseDate) <br />
                        <p></p>
                        @Html.DisplayFor(modelItem => item.Text)  <br />
                        <p></p>
                    </div>
                    </div>
                <button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>                
              </div>
          </div>        
    }
}

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
