
@model PagedList.IPagedList<MvcStory.Models.Story>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.rateit.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/rateit.css" rel="stylesheet" />

@{
    ViewBag.Title = "Stories";
}


<p></p>
<div class="row">

    @using (Html.BeginForm("Index", "Story", FormMethod.Get))
    {              
            <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-glass" aria-hidden="true" id="glass"></span>Go!</button>
                    </span>
                    <input type="text" name="SearchString" class="form-control" placeholder="Search for...">
                </div>
            </div>       
    }


    <span class="label label-success">Sort by:</span>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">@Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</button>       
    </div>
</div>
<br />

@if (Model.Count() == 0)
{
    <div class="alert alert-info" role="alert">No story match...</div>
}
else
{
    foreach (var item in Model)
    {      
        <div id="firstDiv" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.DisplayFor(modelItem => item.Title)</h3>
            </div>
            <div id="firstBody"class="panel-body">              
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                        
                        @Html.DisplayFor(modelItem => item.Photo)

                        @*<img src="@Url.Content(@Model.Photo)" alt="Img" />*@

                        <img src=@Url.Content("~/Content/Image/hire_asp_net_developer.png") />
                        
                    </a>
                </div>                               
                <p></p>
                <div class="row">
                    <div class="col-xs-6 col-md-6">                        
                        <p></p>
                        
                        @*@for (int i = 0; i < item.Rating; i++)
                        {
                            
                            <div class="glyphicon glyphicon-star"></div>
                        }*@
                        @*@Html.DisplayFor(modelItem => item.Rating)*@
                        
                                                            
                        @*rateit code*@

                        <input type="range" value="3" step="1" id="backing4" class="shit">
                        <div class="rateit" data-rateit-backingfld="#backing4" data-rateit-readonly="true"  data-rateit-resetable="false" data-rateit-ispreset="true"
                             data-rateit-min="0" data-rateit-max="6">
                        </div>

                        <br />
                        <p></p>
                        @Html.DisplayFor(modelItem => item.ReleaseDate) <br />
                        <p></p>
                        @Html.DisplayFor(modelItem => item.Text)  <br />
                        <p></p>
                    </div>
                    </div>
                <button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>                
              </div>
          </div>
        <script type="text/javascript">
            $(document).ready(function () {

                //$(".panel-heading").click(function (event) {
                //    $(".panel-body").slideToggle("slow");
                //});

                $(".panel-heading").css("background-color", "black");
                $(".panel-title").css("color", "lightgreen");

                $(".panel").hover(function () {
                    $(this).css("border", "1px solid lightgreen");
                }, function () {
                    $(this).css("border", "1px solid black");
                });

                $(".panel").hover(function () {
                    $(this).css({ "color": "lightgreen", "font-size": "100%" });
                }, function () {
                    $(this).css({ "color": "white", "font-size": "100%" });
                });

                $(".btn").css("color", "black");
                $("#glass").css("color", "black");
                $(".btn").css("color", "black");
                $("span").css("color", "black");
                $(".shit").hide();
            });

        </script>
    }
}

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
